<template name="Recipe_directions">
  <div class="recipe-instructions">
    <div class="prep">
      <h2>Prepatory</h2>
      <div class="tools prep-tools">
        <h2>Prep Tools You Need</h2>
        <ul>
          <li class="">Thing</li>
          <li class="">Thing</li>
          <li class="">Thing</li>
          <li class="">Thing</li>
        </ul>
      </div>
      <div class="directions prep-directions">
        <h2>Prep Directions</h2>
        <ol>
          <li>Verb the noun.</li>
          <li>Verb the noun.</li>
          <li>Verb the noun.</li>
          <li>Verb the noun.</li>
        </ol>
      </div>
    </div>
    <div class="cook">
      <h2>Cooking Steps</h2>
      <div class="tools cook-tools">
        <h2>Cooking Tools You Need</h2>
        <ul>
          <li class="">Thing</li>
          <li class="">Thing</li>
          <li class="">Thing</li>
          <li class="">Thing</li>
        </ul>
      </div>
      <div class="directions cook-directions">
        <h2>Cooking Directions</h2>
        <ol>
          <li>
            <h2>Step One</h2>
            <p>Verb the noun.</p>
          </li>
          <li>
            <h2>Step Two</h2>
            <p>Verb the noun.</p>
          </li>
          <li>
            <h2>Step Three</h2>
            <p>Verb the noun.</p>
          </li>
          <li>
            <h2>Step Four</h2>
            <p>Verb the noun.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>
