.Cooking-Step {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:18px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:1;
  margin-bottom:6px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
.Cooking-Step-List {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.167;
  margin-bottom:16px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
li.Ingredient-List {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.333;
  margin-bottom:6px;
  margin-left:36px;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:-36px;
  text-transform:none;
  widows:1;
}
.Object-Label {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:18px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.111;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:center;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
p.Recipe-Meta {
  color:#000000;
  font-family:"Source Sans Pro Light", sans-serif;
  font-size:20px;
  font-style:normal;
  font-variant:normal;
  font-weight:300;
  line-height:1.4;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
.Recipe-Name {
  -epub-hyphens:none;
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:28px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:1;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
.Step-Header {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:1.257;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
.Step-Subheader {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:16px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.75;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
.Step-Zero-List {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.167;
  list-style-position:outside;
  list-style-type:disc;
  margin-bottom:18px;
  margin-left:16px;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
