.ingredient li {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.333;
  margin-bottom:6px;
  margin-left:36px;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:-36px;
  text-transform:none;
  widows:1;
}

.tools .label {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:18px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.111;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:center;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}

.prep li {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:18px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:1;
  margin-bottom:6px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
.step li h2 {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:16px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.75;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
.directions {
  color:#000000;
  font-family:"Source Sans Pro", sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.167;
  margin-bottom:16px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
